
<h1>Welcome to the Hidden Input Wizard</h1>

<div id="stepsContainer" style="border: 1px solid red; padding: 8px">

</div>

<p>You cannot see it but there is a hidden input with this wizard data right below this text.</p>
<input type="hidden" id="wizardData" value=""/>

<script src="~/js/hiddenInputWizard/wizardApi.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/hiddenInputWizard/wizardController.js"></script>
