<h3>Select a Wizard example</h3>

<input type="button" value="Local Storage" onclick="location.href='@Url.Action("", "LocalStorageWizardStep1")'" />
<input type="button" value="Hidden Input" onclick="location.href='@Url.Action("", "HiddenInputWizard")'" />
