
<h1>All done, thanks!</h1>

<input type="button" value="Select another wizard" onclick="location.href='@Url.Action("", "Home")'" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/localStorageWizard/finalStep.js"></script>