@model TestApplication.ViewModel.Step1ViewModel

<form method="post" asp-controller="LocalStorageWizardStep1" asp-action="Next">
    <h1>Step 1</h1>
    
    <h3>Question, what type of bear is best?</h3>    
    <input id="bearTxt" name="bear" type="text" value="@Model.Bear" />
    <br />
    <br />
    <input type="submit" value="Next" />
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/localStorageWizard/step1.js"></script>